name: Auto Testing

on:
  push: # allow push of all branches
    branches:
      - '**'
  workflow_dispatch:

jobs:
  build_and_test:
    name: Build and Test
    runs-on: [self-hosted, runnerid-4]

    env:
      RQ1_USER: ${{ secrets.RQ1_USER }}
      RQ1_PASSWORD: ${{ secrets.RQ1_PASSWORD }}
      RQ1_TOOLNAME: ${{ secrets.RQ1_TOOLNAME }}
      RQ1_TOOLVERSION: ${{ secrets.RQ1_TOOLVERSION }}
      CI_ENVIRONMENT: 'true'
    strategy:
      matrix:
        python-version: ['3.11', '3.9']

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install requirements
        run: pip install .[test]

      - name: Linting Test
        run: ruff check .

      - name: Run test
        run: coverage run -m pytest

      - name: Run coverage
        run: coverage report --fail-under=75
